= form_for collection do |f|
  .field.w60
    = f.label :name
    = f.text_field :name
    - if f.object.errors[:name].present?
      %label.error= "Name #{f.object.errors[:name].join(', ')}"
  .field.w60
    = f.label :description
    = f.text_area :description, rows: 3

  .field.w60
    %label
      Icon
    = render 'icon_selector', :f => f
  .w60
  %br{clear: :all}


  = f.button 'Save', :class => 'white'
  = link_to 'or cancel', collections_path, :style => 'text-decoration:underline;'
