%hr.clear/
%h2(id='snapshots')= t('views.collections.overview.snapshots')
%p= t('views.collections.overview.snapshots_description')
- if collection_admin?

  = form_for(@snapshot, :url => collection_create_snapshot_path(collection)) do |f|
    %span.snapshot_name_field.w30
      = f.text_field :name, :placeholder => t('views.collections.overview.enter_snapshot_name')
      - if f.object.errors[:name].present?
        %br/
        %label.error= t('views.collections.form.errors.name', errors: f.object.errors[:name].join(', '))
    %button.icon_button.fsnapshot
      = t('views.collections.overview.take_new_snapshot')

- if collection.snapshots.count > 0
  %table
    %tr
      = form_tag(collection_unload_current_snapshot_path(collection)) do
        %td.w30
          .snapshot_info{:class => if current_user_snapshot.at_present? then "active rounded" end}
            = radio_button_tag(:name, "", current_user_snapshot.at_present?, :onclick => "this.form.submit();")
            = label :name, t('views.collections.overview.present_time')
        %td

    - collection.snapshots.each do |snapshot|
      %tr
        = form_tag(collection_load_snapshot_path(collection)) do
          - is_current_snapshot = !current_user_snapshot.at_present? && current_user_snapshot.snapshot.name == snapshot.name
          %td.w30
            .snapshot_info{:class => if is_current_snapshot then "active rounded" end}
              = radio_button_tag(:name, snapshot.name, is_current_snapshot, :onclick => "this.form.submit();")
              = label :name, snapshot.name
          %td.grey
            = label_tag :date, snapshot.date.rfc822
- elsif !collection_admin?
  = t('views.collections.overview.no_snapshots')

%br/
%br/
