= render '/tabs'
:javascript
  $(document).ready(function(){ 
  match = window.location.toString().match(/\/collections\/(\d+)\/quotas/)
  var collectionId = parseInt(match[1])  
  refresh_data(); 
  $("#filter_type").change(function(){
    refresh_data();
  });
  function refresh_data(){
    $.get("/collections/" + collectionId + "/message_quota.json", {filter_type:  this.value}, function(resp){
      $(".remain_quota").text(resp.remain_quota);
      $(".sended_message").text(resp.sended_message);
      if(resp.sended_messge > 1){
        $(".text-message").css("display", "none");
      }else{
        $(".text-messages").css("display", "none");
      }

    });
  };
  });
.tabsline.quotas-form
  %h2 Quotas

  .field
    = label_tag "This collection sent", nil, style: "float:left"
    = label_tag "", nil, class: "sended_message", style: "float:left; margin-left:2px;"
    
    = label_tag "  message in last", nil, class: "text-message", style: "float:left;width:110px;margin-left:3px;"
    = label_tag "  messages in last", nil, class: "text-messages", style: "float:left;width:110px;margin-left:3px;"
    
    = select_tag "filter_type", options_for_select([["Week","week"],["Month","month"],["Year","year"]]), style: "margin-top:-5px;"
    %br
    = label_tag "this collection remain", nil, style: "float:left"
    = label_tag "", nil, class: "remain_quota", style: "float:left;margin-left:2px;"
    = label_tag " message quota", nil, style: "margin-left:3px;display:inline;"
  %br{clear: :all}
