= render '/tabs'

- sites_count = if !current_user_snapshot.at_present? then collection.site_histories.at_date(current_user_snapshot.snapshot.date).count else collection.sites.count end

.tabsline
  %h2= t('views.collections.overview.status')
  %div
    .sbox.grey.w30.sitesBox
      .left.sitesDescription
        .sitesCount= sites_count
        = t('views.collections.overview.sites')
      %button.csvDownload.white.right{type: "button", |
          onclick: "window.location = '#{sites_count == 0 ? api_sample_csv_path(collection, format: 'csv') : api_collection_path(collection, format: 'csv', auth_token: current_user.authentication_token)}'"}
        = if sites_count == 0 then t('views.collections.overview.download_sample_csv') else t('views.collections.overview.download_as_csv') end
    %div
      = link_to t('views.collections.overview.upload_it_for_bulk_sites_updates'), collection_import_wizard_path(collection), class: 'icon fexport black'
  %hr.clear/
  %h2 API access
  %p{style: 'margin:-8px 0 8px 0'}
    = t('views.collections.overview.access_the_api_in')
    #{link_to 'RSS', api_collection_path(collection, format: :rss), target: :_blank},
    #{link_to 'JSON', api_collection_path(collection, format: :json), target: :_blank},
    #{link_to 'CSV', api_collection_path(collection, format: :csv), target: :_blank},
    = t('views.collections.overview.or')
    #{link_to 'SHP', api_collection_path(collection, format: :shp), target: :_blank}.
    = t('views.collections.overview.check_the')
    #{link_to 'API documentation', 'https://bitbucket.org/instedd/resource_map/wiki/REST_API', target: :_blank}
    %br/
    %br/

  - if Settings.is_on? :snapshot
    = render 'snapshot'

  %hr.clear/

  - if collection_admin?
    .delete-collection-or-sites
      .left
        = render './confirm_box', :action_code => 'delete-collection-sites', :action_description => t('views.collections.overview.delete_collection_sites'), :icon_class => 'fclose', :confirm_action_prompt => t('views.collections.overview.delete_collection_sites_prompt'), :action_url => collection_path(only_sites: true)

      .left
        = render './confirm_box', :action_code => 'delete-collection', :action_description => t('views.collections.overview.delete_collection'), :icon_class => 'fdelete', :confirm_action_prompt => t('views.collections.overview.delete_collection_prompt'), :action_url => collection_path
