- content_for :head do
  :javascript
    $(function() { initMessages(); });

= render '/tab_sms_gateway'

.hidden-until-loaded
  .tabsline

    %table{width: '100%'}      
      %tr
        %td{width: '50%'}
          %fieldset{:style => 'border: 1px solid gray; background-color:#F6F6F6'}
            
            %div{style: 'height:200px;overflow:auto'}
              %table
                %tr
                  %td
                    = t('views.gateways.original_message.search')
                    %input.phone_number{ko(value: 'phone_number'), placeholder: "Enter phone number", type: 'text', valueUpdate: 'afterkeydown'}
                %tr
                  %td{style: 'padding-top: 10px;'}
                    = t('views.gateways.original_message.collections')
                %tr
                  %td{style: 'font-size: 12px;'}
                    %span{ko(click: 'checkAllCollectionIds'), style: 'text-decoration:underline;cursor:pointer;margin-left:20px; margin-top: 10px;'}= t('views.gateways.original_message.check_all')
                    |
                    %span{ko(click: 'uncheckAllCollectionIds'), style: 'text-decoration:underline;cursor:pointer'}= t('views.gateways.original_message.uncheck_all')
                - collections.sort_by(&:name).each do |collection|
                  %tr
                    %td
                      %input.collection_id{ko(checked: 'selectedCollectionIds'), style: 'margin-left: 20px;', type: 'checkbox', checked: 'checked', value: collection.id}= collection.name
                %tr
                  %td
                    %input.raw_message{ko(checked: 'selectedRawMessage'), style: 'margin-top: 10px;', value: 'raw', type: 'checkbox'}= t('views.gateways.original_message.show_undefined_messages')
    %br/
    .tablewrapp
      %table.GralTable
        %tr
          %th= t('views.gateways.original_message.collection')
          %th= t('views.gateways.original_message.user')
          %th= t('views.gateways.original_message.message')
          %th= t('views.gateways.original_message.time')
        <!-- ko foreach: activities -->
        %tr{style: 'height:32px'}
          %td{ko(text: :collection), style: 'min-width:120px'}
          %td{ko(text: :user)}
          %td
            %span{ko(text: :displayedDescription), style: 'display:inline'}
            <!-- ko if: !expanded() && canBeExpanded() -->
            %span{ko(click: :expand), style: 'display:inline;text-decoration:underline;cursor:pointer'}= t('views.gateways.original_message.show_more')
            <!-- /ko -->
          %td.timeago{ko(attr: {title: :createdAt}, text: :createdAt), style: 'min-width:150px'}
        <!-- /ko -->
        <!-- ko if: hasMore() && !loading() -->
        %tr{style: 'height:32px'}
          %td{ko(click: :loadMore), colspan: 4, align: :center, style: 'text-decoration:underline;cursor:pointer'}
            = t('views.gateways.original_message.load_more')
        <!-- /ko -->
        <!-- ko if: loading() -->
        %tr{style: 'height:32px'}
          %td{colspan: 4, align: :center}
            = t('views.gateways.original_message.loading')
        <!-- /ko -->