<%= devise_error_messages! :class => 'centered w30' %>


<div class="box centered w30" id='registration'>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>



  <h2>Sign up</h2>

  <hr class="shadow" />

  <div class="field w30">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field w30">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <div style='padding-top:10px; padding-left:5px; line-height:5px;'>
      <div id='validateMeter' style='height:5px; float:left;'></div>
      <p id='validateMessage' style='float:right;'></p>
    </div>
    
  </div>

  <div class="field w30">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <div style='padding-top:10px; padding-left:5px; line-height:5px;'>
      <p id='confirmMessage' style='color:red'></p>
    </div>
  </div>

  <div class="field w30">
    <%= f.label :phone_number %> <i>(85512345678)</i>
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="actions">
    <button type="submit" class="white">Create account</button>
  </div>


  <%= render :partial => "devise/shared/links" %>
<% end -%>

</div>
