#mobile-sites-main{"data-role" => "page", "data-fullscreen" => "true"}

  %div{"data-role" => "header", "data-theme" => "c"}
    %a{"data-icon" => "arrow-l",  "data-add-back-btn" => "true", "data-rel" => "back"} Back
    %h1= @title || 'Add New Site'
  <!-- ko if: currentSite -->
  %form{ko(with: :currentSite, submit: '$root.saveSite'), action: 'http://', method: :post}
    %div{"data-role" => "content"}
      %div
        %label{:for => "basic"} Name: 
        %input#basic{:name => "name", :type => "text", 'data-bind' => kov(value: :name, valueUpdate: :afterkey, hasfocus: true), :autofocus => true}
        .clear
      %div
        %label Location:
        = ko_text_field_tag :locationText, html: {placeholder: 'Search or drag the pin'}
        .clear
      <!-- ko foreach: $root.layers -->
      %h3{ko(text: :name)} 
      <!-- ko foreach: fields -->
      %div
        <!-- ko if: show -->
        = label_tag '', '', ko(attr: {:for => :esCode}, text: "name + ':'")
        <!-- /ko -->
        //%span.value{ko(text: :valueUI)}
        - Field::kinds.each do |kind|
          <!-- ko if: kind == '#{kind}' -->
          <!-- ko if: show -->
          = render partial: field_edit_view(kind), locals: { single_editing_mode: false, mobile: true }
          <!-- /ko -->
          <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
    %button{type: 'submit', "data-theme" => "c", "onclick" => "history.go(-1)"} Save Site
  <!-- /ko -->
  %div{"data-role" => "footer", "data-theme" => "c"}  
    %h1 Version 1.0
