= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { "data-ajax" => false}) do |f|
  %p
    = f.label :email
    = f.email_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p= f.submit "Log in", "data-theme" => 'b'
  

  %a{"data-role" => "footer", "data-theme" => "f", "data-position" => "fixed", 'align' => 'center', href: "/users/sign_up", "style" => "padding-bottom:20px;"} Create account for Resource Map
