- content_for :head do
  :javascript
    $(function() { initActivities(); });

%h1= t('views.activities.index.title')

.hidden-until-loaded
  .tabsline

    %p{style: 'margin-top:0px'}
      = t('views.activities.index.view_as')
      %a{ko(click: 'viewAsRSS'), href: 'javascript:void(0)'} RSS

    %table{width: '100%'}
      %tr
        %td{width: '50%'}
          %fieldset{:style => 'border: 1px solid gray; background-color:#F6F6F6'}
            %legend= t('views.activities.index.collections')
            %div{style: 'height:80px;overflow:auto'}
              %table
                - collections.sort_by(&:name).each do |collection|
                  %tr
                    %td
                      %input.collection_id{ko(checked: 'selectedCollectionIds'), type: 'checkbox', checked: 'checked', value: collection.id}= collection.name
        %td{width: '50%'}
          %fieldset{:style => 'border: 1px solid gray; background-color:#F6F6F6'}
            %legend= t('views.activities.index.events')
            %div{style: 'height:80px;overflow:auto'}
              %table
                %tr
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'collection,created', type: 'checkbox', checked: 'checked'}= t('views.activities.index.collection_created')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'site,created', type: 'checkbox', checked: 'checked'}= t('views.activities.index.site_created')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'layer,created', type: 'checkbox', checked: 'checked'}= t('views.activities.index.layer_created')
                %tr
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'collection,imported', type: 'checkbox', checked: 'checked'}= t('views.activities.index.collection_imported')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'site,changed', type: 'checkbox', checked: 'checked'}= t('views.activities.index.site_changed')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'layer,changed', type: 'checkbox', checked: 'checked'}= t('views.activities.index.layer_changed')
                %tr
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'collection,csv_imported', type: 'checkbox', checked: 'checked'}= t('views.activities.index.collection_csv_imported')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'site,deleted', type: 'checkbox', checked: 'checked'}= t('views.activities.index.site_deleted')
                  %td
                    %input{ko(checked: 'selectedKinds'), value: 'layer,deleted', type: 'checkbox', checked: 'checked'}= t('views.activities.index.layer_deleted')
      %tr
        %td
          %span{ko(click: 'checkAllCollectionIds'), style: 'text-decoration:underline;cursor:pointer;margin-left:6px'}= t('views.activities.index.check_all')
          |
          %span{ko(click: 'uncheckAllCollectionIds'), style: 'text-decoration:underline;cursor:pointer'}= t('views.activities.index.uncheck_all')
        %td
          %span{ko(click: 'checkAllKinds'), style: 'text-decoration:underline;cursor:pointer;margin-left:6px'}= t('views.activities.index.check_all')
          |
          %span{ko(click: 'uncheckAllKinds'), style: 'text-decoration:underline;cursor:pointer'}= t('views.activities.index.uncheck_all')

    .tablewrapp
      %table.GralTable
        %tr
          %th= t('views.activities.index.collection')
          %th= t('views.activities.index.user')
          %th= t('views.activities.index.activity')
          %th= t('views.activities.index.time')
        <!-- ko foreach: activities -->
        %tr{style: 'height:32px'}
          %td{ko(text: :collection), style: 'min-width:120px'}
          %td{ko(text: :user)}
          %td
            %span{ko(text: :displayedDescription), style: 'display:inline'}
            <!-- ko if: !expanded() && canBeExpanded() -->
            %span{ko(click: :expand), style: 'display:inline;text-decoration:underline;cursor:pointer'}= t('views.activities.index.show_more')
            <!-- /ko -->
          %td.timeago{ko(attr: {title: :createdAt}, text: :createdAt), style: 'min-width:150px'}
        <!-- /ko -->
        <!-- ko if: hasMore() && !loading() -->
        %tr{style: 'height:32px'}
          %td{ko(click: :loadMore), colspan: 4, align: :center, style: 'text-decoration:underline;cursor:pointer'}
            = t('views.activities.index.load_more')
        <!-- /ko -->
        <!-- ko if: loading() -->
        %tr{style: 'height:32px'}
          %td{colspan: 4, align: :center}
            = t('views.activities.index.loading')
        <!-- /ko -->
