%div{style: 'positon:relative'}
  %h1{style: 'float:left'}= collection.name
  - if collection.description.present?
    %p{style: 'font-size:12px'}= collection.description
  %div.right
    -if !collection_admin?
      = render './confirm_box', :action_code => 'delete-membership', :action_description => 'Leave this collection', :class_name => 'button grey right', :confirm_action_prompt => 'Are you sure you want to leave this collection?', :action_url => collection_membership_path(collection, current_user.id)  
%div{style: 'clear:both'}
.div
  %ul.tabs.top
    = tab "Overview", collection_path(collection)
    - if can? :members, collection
      = tab "Members", collection_members_path(collection)
    = tab "Layers", collection_layers_path(collection)
    = tab "Import wizard", collection_import_wizard_path(collection)
    = tab "Settings", collection_settings_path(collection)
    = render_hook collection, :collection_tab, :collection => collection
    - if Settings.is_on? :channels  
      = tab "Quotas", collection_quotas_path(collection)






