!!!
%html{:manifest => "/mobile.appcache"}
  %head
    %title= application_name.titleize
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "/assets/jquery.mobile-1.3.1.min.css", :rel => "stylesheet"}
    =javascript_include_tag "/assets/jquery"
    =javascript_include_tag "/assets/jquery_ujs"
    %script{:src => "/assets/mobile/mobilecache.js"}
    %script{:src => "/assets/mobile/collections.js"}
    %script{:src => "/assets/mobile/field.js"}
    %script{:src => "/assets/mobile/option.js"}
    %script{:src => "/assets/mobile/events.js"}
    %script{:src => "/assets/jquery.mobile-1.3.1.min.js"}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
  %body
    = flash_message
    = yield
    //#footer-span
    //  #footer
    //    #footer-container
    //      %div
    //      .left
    //        %a{:href => "http://instedd.org"} © 2011 InSTEDD
    //        %a{:href => terms_and_conditions_path} Terms and conditions
    //        %a{:href => "mailto:support@instedd.org?subject=[#{application_name.titleize}]"} Contact us
    //      .right
    //        = yield(:footer_links)
    //        %span.VersionNumber
    //        Version #{version_name}
